div{
    height: 100px;
    width: 200px;
    margin: 0 auto;
}
.main{
    height: 300px;
    width: 200px;
    border-radius: 100% !important;
    overflow: hidden;
    position: relative;
}
.stick{
    height: 150px;
    width: 40px;
    margin: 0 auto;
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #c9a170;
    border-radius: 20px;
}
.image{
    display: flex;
    justify-content: center;
    
}
.set{
    z-index: -2;
    margin-top: 30px;
    width: 250px;
    text-align: center;
}
.mode1{
    background-color: rgb(58, 57, 57);
    color: white;
}
.hidden{
    display: none;
}